.DS_store
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt

!/log/.keep
!/tmp/.keep

# Ignore Byebug command history file.
.byebug_history
